<template>
<v-card 
width=800px

>
  <form>
    <v-card-title>Edit Details</v-card-title>
    <v-container fluid>
    <v-row>
      <v-col cols="4">
        <v-subheader>Username</v-subheader>
      </v-col>
      <v-col cols="6">
    <v-text-field
      
      label="Name"
      required
      outlined
     
    ></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="4">
        <v-subheader>Email</v-subheader>
      </v-col>
      <v-col cols="6">
    <v-text-field
      v-model="email"
      :error-messages="emailErrors"
      label="E-mail"
      required
      outlined
     
    ></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="4">
        <v-subheader>Password</v-subheader>
      </v-col>
      <v-col cols="6">
    <v-text-field
      label="Password"
      outlined
    >
    </v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="4">
        <v-subheader>Address</v-subheader>
      </v-col>
      <v-col cols="6">
    <v-text-field
      label="Address"
      outlined
    >
    </v-text-field>
      </v-col>
    </v-row>

  <v-row>
      <v-col cols="4">
        <v-subheader>Contact</v-subheader>
      </v-col>
      <v-col cols="6">
    <v-text-field
      label="Contact"
      outlined
    >
    </v-text-field>
      </v-col>
  </v-row>

  <v-row>
      <v-col cols="4">
        <v-subheader>Department</v-subheader>
      </v-col>
      <v-col cols="6">
    <v-text-field
    v-model="dpt"
    label="Department"
    outlined
    >
    </v-text-field>
      </v-col>
  </v-row>
  
    <v-btn
      class="mr-4"
      @click="submit"
    >
      submit
    </v-btn>
    <v-btn @click="clear">
      clear
    </v-btn>
    </v-container>
  </form>
</v-card>
</template>