<template>
    <div>
        <NoticeList />
        <EditForm/>
        <ListPersonalData />
        <TakeLeaveForm/>
    </div>
  
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NoticeList from '@/components/employee/listNotice/NoticeList.vue';
import EditForm from '../../components/employee/editForm/EditForm.vue';
import ListPersonalData from '../../components/employee/listPersonalData/PersonalDataList.vue';
import TakeLeaveForm from '@/components/employee/takeLeave/TakeLeaveForm.vue';


@Component({
    components: {
        NoticeList,
        EditForm,
        ListPersonalData,
    TakeLeaveForm,

    },
})

export default class Index extends Vue {}
</script>
