<template>
<v-card
    class="mx-auto"
  >
    <v-list
      subheader
      three-line
    >
      <v-subheader>Leave Approval</v-subheader>

      <v-list-item v-for="item in leaves" :key="item.id">
        <v-list-item-content>
          <v-list-item-title> {{item.employee}} </v-list-item-title>
          <v-list-item-subtitle>{{ item.reason }}</v-list-item-subtitle>
          <v-list-item-subtitle>{{ item.date_of_leave }}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action v-if="item.approval === null">
          <v-btn
              icon
              color="success"
              @click="accept(item)"
            >
              <v-icon>mdi-check-circle-outline</v-icon>
            </v-btn>
            <v-btn
              icon
              color="warning"
              @click="reject(item)"
            >
              <v-icon>mdi-close-circle-outline</v-icon>
            </v-btn>
        </v-list-item-action>
        <v-list-item-action v-else>
            <v-btn
              icon
              color="success"
              disabled
              v-if="item.approval"
            >
              <v-icon>mdi-check-circle-outline</v-icon>
            </v-btn>
            <v-btn
              icon
              disabled
              color="warning"
              v-else
            >
              <v-icon>mdi-close-circle-outline</v-icon>
            </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list>
</v-card>
</template>

<script lang="ts">
import { ILeave } from '@/models/leave';
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ProjectList extends Vue {

  get leaves() {
    return this.$store.getters['Leave/GET_LEAVES'];
  }

  private reject(data: ILeave) {
    this.$store.dispatch('Leave/SET_REJECT', {
      id: data.id,
      date_of_leave: data.date_of_leave,
      reason: data.reason,
      employee: data.employee,
      approval: false,
    });
  }

  private accept(data: ILeave) {
        this.$store.dispatch('Leave/SET_ACCEPT', {
          id: data.id,
          date_of_leave: data.date_of_leave,
          reason: data.reason,
          employee: data.employee,
          approval: true,
        });
  }
}
</script>

