<template>
   
<v-card 
    width=800px
   
>
    <v-card-title >
        <v-icon>mdi-account</v-icon>
        <span>Personal Details</span>
    </v-card-title>
    
     <v-btn class="grey" block>Edit Details</v-btn>
    
  <v-simple-table>
    <template v-slot:default>
       
      <tbody>
        <tr>
            
            
           <td>Name</td>
          <td>{{ personalDetails.username }}</td>
      
          
        </tr>
        <tr>
          <td>Contact</td>
          <td>{{ personalDetails.contact }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ personalDetails.email }}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{ personalDetails.address }}</td>
        </tr>
        <tr>
          <td>Department</td>
          <td>{{ personalDetails.department }}</td>
        </tr>

      </tbody>
       
    
    </template>
    
  </v-simple-table>
</v-card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IUser } from '@/models/User';
@Component
export default class PersonalDetails extends Vue {
    private created() {
        this.$store.dispatch('Personal/GET_PERSONAL', 'U1');
    }

    get personalDetails(): IUser {
        return this.$store.getters['Personal/GET_PERSONAL'];
    }
}
</script>
