<template>
  <div class="home">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
        >
          <v-text-field
            label="Username"
            placeholder="username"
            :rules="[rules.required]"
            outlined
            dense
            v-model="username"
          ></v-text-field>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          md="4"
        >
          <v-text-field
            label="Password"
            placeholder="password"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            @click:append="show = !show"
            :rules="[rules.required, rules.min]"
            outlined
            dense
            v-model="password"
          ></v-text-field>
        </v-col>
        <v-col
        cols="12"
          sm="6"
          md="4"
        >
          <v-btn
            color="success"
            @click="login"
          >
            Login
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Home extends Vue {
  private show: boolean = false;
  private rules = {
    required: (value: string) => !!value || 'Required.',
    min: (v: string) => v.length >= 8 || 'Min 8 characters',
    emailMatch: () => (`The email and password you entered don't match`),
  };
  private username: string = '';
  private password: string = '';

  get userRole() {
    return this.$store.getters['Auth/GET_USER'];
  }
  private login() {
    this.$store.dispatch('Auth/GET_LOGGEDIN', {username: this.username, password: this.password});
  }
}
</script>
