<template>
  <div>
    <v-card >
      <v-subheader>Employee List</v-subheader>

      <v-list-item v-for="items in Users" :key="items.id">
        <v-list-item-content>
          <v-list-item-title>{{ items.username }}</v-list-item-title>
        </v-list-item-content>

      </v-list-item>


    </v-card>


  </div>

</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class EmployeeList extends Vue {

  get Users() {
    return this.$store.getters['User/GET_USER'];
  }


}
</script>

