<template>
<div id="App">
<h1>Leave Form</h1>
<TakeLeaveForm/>
<div>
    <v-text-field
      label="Employee-ID"
      :rules="rules"
      hide-details="auto"
    ></v-text-field>
   
  </div>
<div>
    <v-text-field
      label="Reason For Leave"
      :rules="rules"
      hide-details="auto"
    ></v-text-field>
   
  </div>

<input type="date" placeholder="date_of_leave"/><br>
<div class="text-left">
    <v-btn
      rounded
      color="primary"
      dark
    >
      Submit
    </v-btn>
  </div>

</div>
</template>
 <script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Home extends Vue {}
</script>