<template>
  <div>
    <v-navigation-drawer app fixed v-model="showMenu" v-if="loggedIn">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            {{ title }}
          </v-list-item-title>
          <v-list-item-subtitle>
            HRM
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link :to="item.path"
          @click="setTitle(item.title)"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>


    <v-app-bar app color="#385F73" dense flat dark>
    <v-app-bar-nav-icon v-if="loggedIn" @click.stop="toggleDrawer"></v-app-bar-nav-icon>
    <v-toolbar-items>
      <h1 >HRM</h1>
    </v-toolbar-items>
    <v-spacer></v-spacer>
    <v-btn icon to="/logout" v-if="loggedIn">
      <v-icon>mdi-logout</v-icon>
    </v-btn>
    <v-avatar v-if="loggedIn">
      <img
        src="https://cdn.vuetifyjs.com/images/john.jpg"
        alt="John"
      >
    </v-avatar>
  </v-app-bar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class NavBar extends Vue {
  private showMenu?: boolean = false;
  private items = [
    { title: 'Home', icon: 'mdi-view-dashboard', path: '/' },
    { title: 'About', icon: 'mdi-help-box', path: '/about' },
    { title: 'Admin', icon: 'mdi-account-settings', path: '/admin' },
    { title: 'Employee', icon: 'mdi-account', path: '/employee' },
  ];

  private title: string = 'Home';

  private setTitle(title: string): string {
    return this.title = title;
  }

  private toggleDrawer(): void {
    this.showMenu = !this.showMenu;
  }

  get loggedIn() {
    return this.$store.getters['Auth/GET_LOGGEDIN'];
  }
}
</script>
