<template>
  <v-card
    class="mx-auto"
    max-width="400"
    tile
  >
  <v-subheader>EmpProjects</v-subheader>
    <v-list-item v-for="item in empprojects" :key="item.id">
      <v-list-item-content>
        <v-list-item-title> {{item.id}} </v-list-item-title>

      </v-list-item-content>
       <v-list-item-content>
        <v-list-item-title> {{item.name}} </v-list-item-title>

      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class EmpPrjList extends Vue {
  private created() {
    this.$store.dispatch('EmpProject/GET_EMPPROJECTS');
  }

  get empprojects() {
    return this.$store.getters['EmpProject/GET_EMPPROJECTS'];
  }

}
</script>




