<template>
    <v-container>
        <h1>Admin</h1>
        <v-row>
        <v-col
          cols="12"
          md="4"
        >
            <v-card
              class="d-flex align-center"
              color="#385f73"
              dark
              height="200"
              to="/admin/employee"
            >
                <div
                  class="display-3 flex-grow-1 text-center"
                >
                  Employee: {{totalEmployee}}
                </div>
            </v-card>
        </v-col>
        <v-col
          cols="12"
          md="4"
        >
            <v-card
              class="d-flex align-center"
              color="#385f73"
              dark
              height="200"
              to="/admin/projects"
            >
                <div
                  class="display-3 flex-grow-1 text-center"
                >
                  Projects {{ totalProject }}
                </div>
            </v-card>
        </v-col>
        <v-col
          cols="12"
          md="4"
        >
            <v-card
              class="d-flex align-center"
              color="#385f73"
              dark
              height="200"
              to="/admin/leave"
            >
                <div
                  class="display-3 flex-grow-1 text-center"
                >
                  Leave: {{totalLeave}}
                </div>
            </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <router-view class="row3"></router-view>
        </v-col>
      </v-row>
    </v-container>

</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import ProjectList from '@/components/admin/listProject/ProjectList.vue';
import Leavelist from '@/components/admin/listLeave/LeaveList.vue';
import EmployeeList from '@/components/admin/listEmployee/EmployeeList.vue';

@Component({
  components: {
    ProjectList,
    Leavelist,
    EmployeeList,
  },
})
export default class Index extends Vue {

  private created() {
    this.$store.dispatch('Project/GET_PROJECTS');
    this.$store.dispatch('User/GET_USER');
    this.$store.dispatch('Leave/GET_LEAVES');
  }

  get totalProject() {
      return this.$store.getters['Project/GET_TOTAL_PROJECTS'];
  }

  get totalLeave() {
      return this.$store.getters['Leave/GET_LEAVE_COUNT'];
  }

  get totalEmployee() {
    return this.$store.getters['User/GET_TOTAL_USER'];
  }
}
</script>

<style scoped>
.button {
  margin-bottom: 10px;
  margin-left: 10px;
}
</style>

