
  <template>
  <v-simple-table dense>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            id
          </th>
          <th class="text-left">
            name
          </th>

          <th class="text-left">
            client
          </th>
          <th class="text-left">
            start
          </th>
           <th class="text-left">
            end
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in employees"
          :key="item.name"
        >
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
           <td>{{ item.client }}</td>
           <td>{{item.start}}</td>
           <td>{{ item.end}}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>


  <script>
  export default {
    data() {
      return {
        employees: [

            {
      id: 'P1',
      name: 'CareCens',
      client: 'Saugat Bhusal',
      start: '2020-01-01',
      end: '2021-01-01',
    },
        ],
      };
    },
  };
</script>