<template>
  <v-app>
  <NavDrawer />
  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>

      <!-- If using vue-router -->
      <router-view></router-view>
    </v-container>
   
  </v-main>

  <v-footer app>
    <!-- -->
  </v-footer>
</v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import NavDrawer from '@/components/NavDrawer.vue';
export default Vue.extend({
  name: 'App',
  components: {
    NavDrawer,

  },
});
</script>
