<template>
  <v-card
    class="mx-auto"
    tile
  >
  <v-subheader>Projects</v-subheader>
    <v-list-item v-for="item in projects" :key="item.id">
      <v-list-item-content @click="getProjectDetails(item.id)">
        <v-list-item-title> {{item.name}} </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ProjectList extends Vue {

  get projects() {
    return this.$store.getters['Project/GET_PROJECTS'];
  }

  private getProjectDetails(id: string) {
    this.$router.push('/project-details/' + id);
  }
}
</script>

