
<template>
<div id="app">
  <v-container>
    <v-row justify="space-around">
      <v-card width="400">
        <v-img
          height="200px"
          src="https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg"
        >
          <v-app-bar
            flat
            color="rgba(0, 0, 0, 0)"
          >
            

            <v-toolbar-title class="title white--text pl-0">
              Notices
            </v-toolbar-title>

             <v-spacer></v-spacer> 

            <!-- <v-btn
              color="white"
              icon
            >
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn> -->
          </v-app-bar>

          <v-card-title class="white--text mt-8">
           
           
          </v-card-title>
        </v-img>

        <v-card-text>
          <div class="font-weight-bold ml-8 mb-2">
            Today
          </div>

          <v-timeline
            align-top
            dense
            v-for="item in Notices"
            :key="item.id"
          >
             <v-timeline-item>
              <div>
                <div class="font-weight-normal">
                  <strong>{{ item.id }}</strong> {{item.desc}}
                    <strong>{{ item.date }}</strong>
              </div>
              </div>            
            </v-timeline-item>
            
          </v-timeline>
        </v-card-text>
        
      </v-card>
    </v-row>
  </v-container>
</div>
</template>
<script lang="ts">
import { component } from 'node_modules/vue/types/umd';
import {Component, Vue} from 'vue-property-decorator';
@Component
export default class ENotice extends Vue {
  private created() {
    this.$store.dispatch('Notice/GET_NOTICE');
  }

  get Notices() {
    return this.$store.getters['Notice/GET_NOTICE'];

  }
}

</script>